@import "normalize.scss";

body {
    background: #660000;
    font-family: 'Georgia';
    font-size: 12px;
}

.row {
    margin: 0;
}

/*   H E A D E R   &   N A V I G A T I O N   */
header {
    background: rgba($color: #000000, $alpha: 0.6);
    color: white;
    border-top: 6px solid #76c38f;
    padding: 16px 20px 10px;
}

.navbar, .container, .navbar-brand {
    padding: 0;
}

/*   LOGO   */
.navbar-brand {
    font-size: 28px;
    line-height: 12px;
}

.brandDescription {
    font-size: 11px;
}

/*   BURGER-TOGGLE   */
.navbar-dark .navbar-toggler {
    border: none;
    padding: 0;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    &:focus {
        border: none;
    }
}

/*   NAV LINKS   */
.dropdown-toggle::after{
    display: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 12px;
    width: fit-content;
    padding: 9px 10px;
    &:hover, &:active {
        background: #76c38f; 
        color: white;
    }
    &:visited {
        color: white;
    }
}


/*   S L I D E R   */
.slider {
    background: rgba($color: #000000, $alpha: 0.6);
    color: white;
    padding: 10px 20px 20px;
}

.carousel-control {
    &-prev {
        width: fit-content;
    }
    &-next {
        width: fit-content;
    }
    &-prev-icon {
        width: 15px;
        height: 27px;
        background-image: url("../assets/img/Left_arrow.svg");
    }
    &-next-icon {
        width: 15px;
        height: 27px;
        background-image: url("../assets/img/Right_arrow.svg");
    }
}

.sliderItem {
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    &__textContent {
        align-items: center;
        text-align: center;
        width: 95%;
        margin: 0;
    }
    &__name {
        font-size: 22px;
        margin: 0 0 20px;
    }
    &__description {
        margin: 0 0 18px;
        line-height: 19.2px;
        color: #979797;
    }
    &__button {
        background: #76c38f;
        font-size: 13px;
        padding: 14px;
        border-radius: 10px;
        width: fit-content;
    }
    &__preview {
        width: 70vw;
        height: 70vw;
        margin: 0;
        border-radius: 50%;
        background-color: #333;
        border: 16px solid #6b6b6b;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 26px;
        padding: 0;
        box-sizing: unset;
    }
}


/*   S E R V I C E   */
/*   LINK ITEM DECORATIONS   */
.service {
    padding: 15px;
}

.service .container .row {
    row-gap: 10px;
}

.serviceItem {
    &__link {
        padding: 10px;
        background: white;
        color: #333;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 5px;  
        &:hover, &:active {
            background: #76c38f;
            & .serviceItem__previewImage {
                background: white;
                color: #333;
            }
            & .serviceItem__title {
                color: white;
            }
            & .serviceItem__textContent {
                color: white;
            }
        }
    }
    &__previewImage {
        width: 128px;
        height: 128px;
        background: #333;
        color: white;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title {
        color: #333;
        font-size: 32px;
        text-transform: uppercase;
    }
    &__textContent {
        color: #979797;
        line-height: 16.8px;
        width: 95%;
    }
}


/*   L A T E S T   W O R K S   */
.latestWorks {
    color: white;
    padding: 15px;
    &__row {
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin: 0 auto;
    }
}

/*   SECTION TITLE   */
.sectionTitle {
    width: 100%;
    justify-content: center;
    align-items: baseline;
    flex-wrap: nowrap;
    margin: 0 0 30px;
    &__border {
        background: #303030;
        height: 3px;
        flex-grow: 1;
        padding: 0;
    }
    &__headline {
        background: #303030;
        padding: 10px;
        text-transform: uppercase;
        border-radius: 10px;
        width: fit-content;
    }
}

/*   WORKS PREVIEW   */
.workItem {
    padding: 0;
    width: 300px;
    height: 200px;
    &__link {
        background: #353535;
        border: 5px solid white;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &:hover, &:active {
            border-color: #76c38f;
            & .workItem__title {
                visibility: hidden;
            }
        }
    }
    &__title {
        font-size: 14px;
        text-transform: uppercase;
        padding: 5px;
        background: rgba($color: #000000, $alpha: 0.6);
    }
    &__innerText {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        padding-top: 24px;
    }
}


/*   F O O T E R   */
.footer {
    width: 100%;
    height: fit-content;
    background: #303030;
    font-size: 13px;
    color: #979797;
    &__contentHolder {
        display: none;
    }
    &__contentHolder {
        width: 100%;
        border-bottom: 1px solid black;
        margin: 0;
    }
    &__copyright {
        padding: 10px 15px;
        align-items: center;
        width: 100%;
        display: flex;
        font-size: 8px;
        flex-direction: column;
        justify-content: space-between;
        background: #2b2b2b;
        border-top: 1px solid #3a3a3a;
        line-height: 0%;
        color: #979797;
    }
    &Section__title {
        font-size: 16px;
        margin-bottom: 30px;
        color: white;
    }
}

.fromBlog {
    &__postTitle {
        font-weight: bold;
        color: #76c38f;
        margin-bottom: 15px;
    }
    &__postAuthor {
        color: #666;
        font-size: 10px;
        & a {
            color: #76c38e;
        }
    }
    &__postDate {
        font-size: 10px;
    }
    &__postContent {
        width: 93%;
    }
    & a {
        color: #76c38f;
    }
}

.linksList {
    padding: 0;
    &__point {
        list-style-type: none;
        border-bottom: 1px solid #404040;
        padding: 5px 0;
        &::before {
            content: "»";
        }
        & a {
            margin-left: 5px;
            color: #76c38f;
        }
    }
}

.tweets {
    &__tweetUnit {
        margin-bottom: 25px;
        & a {
            color: #76c38e;
        }
    }
}

.contactForm {
    width: 100%;
    &__textInput {
        width: 100%;
        background: #222;
        border-radius: 9px;
        padding: 10px;
        margin-bottom: 10px;
        color: #989898;
    }
    &__message {
        height: 80px;
        padding: 10px 10px 60px;
    }
    &__submit {
        color: #303030;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        background: #76c38f;
        padding: 12px;
        border-radius: 9px;
    }
}

.accordion-item {
    background: #2b2b2b;
    border-top: 1px solid #3a3a3a;
    border-bottom: 1px solid black;
    padding: 2px;
}

.accordion-collapse {
    padding: 13px;
}

.accordion-button:not(.collapsed), .accordion-button {
    color: white;
    background-color: #3a3a3a;
    box-shadow: none;
    border-radius: 10px;
}

.accordion-button:focus {
    border: none;
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/*   M E D I A   */
@media (min-width: 576px) {
    header {
        padding: 20px 40px 0;
    }
    .slider {
        padding: 20px 40px 25px;
    }
    .sliderItem {
        flex-direction: column-reverse;
        &__name {
            font-size: 46px;
            margin: 0 0 20px;
        }
        &__textContent {
            align-items: center;
            text-align: center;
            width: 80%;
            margin: 0;
        }
        &__preview {
            width: 252px;
            height: 252px;
            border-width: 16px;
            margin: 0;
        }
    }
    .service {
        padding: 25px 40px 0;
    }
    .service .container .row {
        width: 496px;
        margin: 0 auto;
        row-gap: 0;
    }
    .serviceItem {
        /*   PADDINGS   */
            &:nth-child(1n) {
                padding: 0 10px 20px 0;
            }
            &:nth-child(2n) {
                padding: 0 0 20px 10px;
            }
        &__link {
            padding: 8px 14px 2px;
        }
    }
    .latestWorks {
        padding: 20px 40px 25px;
        &__row {
            width: 496px;
            gap: 20px;
        }
    }
    .workItem {
        width: 238px;
        height: 158.66px;
    }
    .accordion {
        display: none;
    }
    .footer {
        &__contentHolder {
            display: flex;
            padding: 20px 40px;
            row-gap: 30px;
        }
        &__copyright {
            align-items: left;
            flex-direction: row;
            padding: 23px 40px 13px;
            font-size: 12px;
        }
        & section:nth-child(1n) {
            padding-left: 0;
        }
        & section:nth-child(2n) {
            padding-right: 0;
        }
    }
}

@media (min-width: 768px) {
    header {
        padding: 40px 120px 0;
    }
    .slider {
        padding: 40px 120px 50px;
    }
    .service {
        padding: 60px 120px 0;
        &Item__link {
            padding: 20px 30px 5px;
        }
    }
    .service .container .row {
        width: 528px;
    }
    .latestWorks {
        padding: 40px 120px 60px;
        &__row {
            width: 528px;
            gap: 28.8px;
        }
    }
    .workItem {
        width: 249.6px;
        height: 166.4px;
    }
    .footer {
        &__contentHolder {
            padding: 40px 120px;
        }
        &__copyright {
            padding: 23px 120px 13px;
        }
    }
}

@media (min-width: 992px) {
    .sliderItem {
        flex-direction: row;
        &__textContent {
            align-items: flex-start;
            text-align: left;
            width: 43%;
            margin-left: 60px;
        }
        &__preview {
            width: 252px;
            height: 252px;
            border-width: 16px;
            margin-right: 70px;
        }
    }
    .service .container .row {
        width: 100%;
    }
    .serviceItem {
        /*   PADDINGS   */
        &:nth-child(1n) {
            padding: 0;
        }
        &:nth-child(2n) {
            padding: 0;
        }
            &:not(:last-child), &:not(:first-child) {
                padding: 0 10px;
            }
            &:first-child {
                padding: 0 10px 0 0;
            }
            &:last-child {
                padding: 0 0 0 10px;
            }
    }
    .latestWorks {
        &__row {
            width: 752px;
            gap: 16px;
        }
    }
    .workItem {
        width: 240px;
        height: 160px;
    }
    .footer {
        & section:nth-child(1n) {
            padding-left: 10px;
        }
        & section:nth-child(2n) {
            padding-right: 10px;
        }
        & section:first-child {
            padding-left: 0;
        }
        & section:last-child {
            padding-right: 0;
        }
    }
}

@media (min-width: 1200px) {
    .sliderItem {
        &__textContent {
            width: 33%;
        }
        &__preview {
            width: 380px;
            height: 380px;
            border-width: 25px;
        }
    }
    .latestWorks {
        &__row {
            width: 960px;
            gap: 30px;
        }
    }
    .workItem {
        width: 300px;
        height: 200px;
    }
}

@media (min-width: 1400px) {
    .sliderItem {
        &__textContent {
            width: 45%;
            margin-left: 90px;
        }
        &__preview {
            margin-right: 100px;
        }
    }
}


